<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title th:text="${title}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body bgcolor="#6a5acd">
    <p th:text="${title}" />
    <img src = "https://instagram.fcgk3-1.fna.fbcdn.net/t51.2885-15/e35/15875679_236111390176933_7570331298917515264_n.jpg") alt="My Photo" style=width:250px;height:250px>
    <p th:text="${cover}" />
    <p th:text="${header1}" />
    <p th:text="${nama}" />
    <p th:text="${birthdate}" />
    <p th:text="${birthplace}" />
    <p th:text="${address}" />
    <p th:text="${cover}" />
    <p th:text="${header2}" />
    <p th:text="${highschool}" />
    <p th:text="${current}" />
    <p th:text="${cover}" />
    <p th:text="${header3}" />
    <p th:text="${desc1}" />
    <p th:text="${cover}" />
</body>
</html>
